{% extends 'home/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<!-- создали форму, и написали атрибут action, он указывает на то какую урл мы будет тут использовать. Перенаправление будет идти на ту же самую страницу. и далее указали метод post, он безопаснее, и лучше его использовать. То есть для передачи данных используют метод post  -->
<form action="{% url 'add_page' %}" method="post">
    {% csrf_token %}<!--csrf_token это тег служит для защиты от злоумышленников, то есть бывает когда форму для ввода логина и пароля могут перехватить и пользователь введет логи и пароль на сайте злоумышленника, и в дажнго есть такой механизм защиты, этот токен генерируется каждый раз при обновлении страницы и потом если этот токен не совпадает то форма работать не будет. Этот тег всегда здесь пишется    -->
    {{ form.as_p }}<!-- form.as_p позволяет отображать все поля формы через тег обзаца p. as_p это функция, но в шаблонизаторе мы не пишем скобки, так как шаблонизатор сам ее вызовет  -->
    <button type="submit">Добавить</button><!-- это просто кнопка добавить -->
</form>
<!-- далее идем в файл views.py , в функцию addpage-->

{% endblock %}